@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}
p{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.image{
    position: relative;
}
.image__download-app{
        background-color: #000;
        color: #FFF;
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        opacity: 0.5;
        margin-left: 2rem;
        text-align: center;
        border-radius: 0.5rem;
        width: 25rem;
        padding: 2rem 1.5rem;
    }
.image__heading{
        margin: 0;
        font-size: 1.5rem;
        font-weight: 300;
        color: #FFF;
        opacity: 70%;
        padding-bottom: 1.5rem;
        border-bottom: solid 1px #fff;
    }
.image__download-app:hover{
        opacity:1;
    }
.image__description{
        
        padding: 1.5rem 0;
    }
.image__tour{
        position: absolute;
        top: 50%;
        transform: translateY(-90%);
        right: 2rem;
        text-align: center;
    }
.image1{
    display: none;
    position: relative;
}
.image1__download-app{
        background-color: #000;
        color: #FFF;
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        opacity: 0.5;
        margin-left: 2rem;
        text-align: center;
        border-radius: 0.5rem;
        width: 25rem;
        padding: 2rem 1.5rem;
    }
.image1__heading{
        margin: 0;
        font-size: 1.5rem;
        font-weight: 300;
        color: #CD4336;
        opacity: 70%;
        padding-bottom: 1.5rem;
        border-bottom: solid 1px #fff;
    }
.image1__download-app:hover{
        opacity:1;
    }
.image1__description{
        
        padding: 1.5rem 0;
    }
.image1__tour{
        position: absolute;
        top: 50%;
        transform: translateY(-90%);
        right: 2rem;
        text-align: center;
    }
.image2{
    display: none;
    position: relative;
}
.image2__download-app{
        background-color: #000;
        color: #FFF;
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        opacity: 0.5;
        margin-left: 2rem;
        text-align: center;
        border-radius: 0.5rem;
        width: 25rem;
        padding: 2rem 1.5rem;
    }
.image2__heading{
        margin: 0;
        font-size: 1.5rem;
        font-weight: 300;
        color: #3f51b5;
        opacity: 70%;
        padding-bottom: 1.5rem;
        border-bottom: solid 1px #fff;
    }
.image2__download-app:hover{
        opacity:1;
    }
.image2__description{
        
        padding: 1.5rem 0;
    }
.image2__tour{
        position: absolute;
        top: 50%;
        transform: translateY(-90%);
        right: 2rem;
        text-align: center;
    }
.btn{
        background-color: #4CAF50;
        padding: 0.7rem;
        border-radius: 0.3rem;
}
.btn:hover{
        background: #FFF;
        color: #000;
        cursor: pointer;
}
.btn-dark{
    background-color: #000;
    color: #fff;
}
.btn-dark: hover{
    background-color: #FFF;
    color: #000;
}
.btn-orange{
    background-color: #f44336;
    color: #FFF;
}
.btn-orange:hover{
    background-color: #CCC;
    color: #000;
}
.btn-light{
    background-color: #EEE;
    color: #000;
}
.btn-light:hover{
    background-color: #CCC;     
}
.btn-red{
    background-color: #CD4336;
}
.btn-blue{
    background-color: #3f51b5;
}
.download {
    z-index: 9999999;
    
        position: fixed;
        width: 55.25rem;
        top: 25%;
        left: 25%;
        margin: 0 auto;
        z-index: 9999;
        background-color: #FFF;
        padding: 1rem;
        display: none;
}
.download__heading {
        display: flex;
        justify-content: space-between;
        letter-spacing: 0.2rem;
        padding: 1.5rem 0;
        width: 95%;
    }
.download__description {
        padding-bottom: 1rem;
    }
.download__tf {
        padding: 0.5rem;
        margin-bottom: 1rem;
        width: 95%;
    }
.download__alert {
        width: 95%;
    }
.app {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 2rem;
    grid-gap: 10rem;
}
.app__about__title {
            font-size: 3.75rem;
            font-weight: 700;
            padding-bottom: 1.5rem;
        }
.app__about__subtitle {
            font-size: 3.125rem;
            font-weight: 600;
            color: #4CAF50;
            padding-bottom: 1.5rem;
        }
.app__about__description {
            line-height: 1.5rem;
            padding-bottom: 1.5rem;
        }
.app__download {
        width: 10rem;
        margin-bottom: 1rem;
    }
.clarity {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 2rem;
    grid-gap: 10rem;
    background-color: #F1F1F1;
}
.clarity__img__overlay {
            border-radius: 1rem;
            overflow: hidden;
            -webkit-filter: grayscale(80%);
                    filter: grayscale(80%);
        }
.clarity__about__title {
            font-size: 3.75rem;
            font-weight: 700;
            padding: 1.5rem 0;
        }
.clarity__about__subtitle {
            font-size: 3.125rem;
            font-weight: 600;
            color: #F44336;
            padding-bottom: 1.5rem;
        }
.clarity__about__description {
            line-height: 1.5rem;
            padding-bottom: 1.5rem;
        }
.features{
    background-color: #616161;
    padding-bottom: 1rem ;
}
.features__feature{
        text-align: center;
        color: #FFF;
        padding-top: 3rem;
        padding-bottom: 1rem;
        font-size: 4rem;
    }
.features__description{
        text-align: center;
        color: #FFF;
        padding-bottom: 3rem;
    }
.features__features-grid{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
/*        font-size: 3rem;*/
        text-align: center;
        grid-gap: 2rem;
    }
.features__features-grid__i{
        font-size: 3.5rem;
        color: #FFF;
        

    }
.features__features-grid__i p{
            font-size: 1rem;
        }
.features .fa-bolt{
        color: #FF9800;
    }
.features .fa-heart{
        color: #F44336;
    }
.features .fa-camera{
        color: #D2BE0E;
    }
.features .fa-battery-full{
        color: #4CAF50;
    }
.features .fa-diamond{
        color: #FFF
    }
.features .fa-cloud{
        color: #2196F3;
    }
.features .fa-globe{
        color: #FFC107;
    }
.features .fa-hdd-o{
        color: #05B8CF;
    }
.features .fa-user{
        color: #FDF5E6;
    }
.features .fa-shield{
        color: #FF9800;
    }
.features .fa-wifi{
        color: #757575;
    }
.features .fa-image{
        color: #E91E63;
    }
.footer{
    background-color: #000;
    padding: 2rem 0;
    color: #FFF;
    text-align: center;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}