@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

p{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
