.app {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 2rem;
    grid-gap: 10rem;

    &__about {
        &__title {
            font-size: 3.75rem;
            font-weight: 700;
            padding-bottom: 1.5rem;
        }

        &__subtitle {
            font-size: 3.125rem;
            font-weight: 600;
            color: #4CAF50;
            padding-bottom: 1.5rem;
        }

        &__description {
            line-height: 1.5rem;
            padding-bottom: 1.5rem;
        }

    }
    &__download {
        width: 10rem;
        margin-bottom: 1rem;
    }
}
