.btn{
        background-color: #4CAF50;
        padding: 0.7rem;
        border-radius: 0.3rem;
}
.btn:hover{
        background: #FFF;
        color: #000;
        cursor: pointer;
}

.btn-dark{
    background-color: #000;
    color: #fff;
}
.btn-dark: hover{
    background-color: #FFF;
    color: #000;
}

.btn-orange{
    background-color: #f44336;
    color: #FFF;
}
.btn-orange:hover{
    background-color: #CCC;
    color: #000;
}

.btn-light{
    background-color: #EEE;
    color: #000;
}

.btn-light:hover{
    background-color: #CCC;     
}


.btn-red{
    background-color: #CD4336;
}

.btn-blue{
    background-color: #3f51b5;
}