.clarity {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 2rem;
    grid-gap: 10rem;
    background-color: #F1F1F1;

    &__img {
        &__overlay {
            border-radius: 1rem;
            overflow: hidden;
            filter: grayscale(80%);
        }
    }

    &__about {
        &__title {
            font-size: 3.75rem;
            font-weight: 700;
            padding: 1.5rem 0;
        }

        &__subtitle {
            font-size: 3.125rem;
            font-weight: 600;
            color: #F44336;
            padding-bottom: 1.5rem;
        }

        &__description {
            line-height: 1.5rem;
            padding-bottom: 1.5rem;
        }

    }
}
