.download {
    z-index: 9999999;
    
        position: fixed;
        width: 55.25rem;
        top: 25%;
        left: 25%;
        margin: 0 auto;
        z-index: 9999;
        background-color: #FFF;
        padding: 1rem;
        display: none;     

    &__heading {
        display: flex;
        justify-content: space-between;
        letter-spacing: 0.2rem;
        padding: 1.5rem 0;
        width: 95%;
    }

    &__description {
        padding-bottom: 1rem;
    }

    &__tf {
        padding: 0.5rem;
        margin-bottom: 1rem;
        width: 95%;
    }

    &__alert {
        width: 95%;
    }
}
