.features{
    background-color: #616161;
    padding-bottom: 1rem ;
    &__feature{
        text-align: center;
        color: #FFF;
        padding-top: 3rem;
        padding-bottom: 1rem;
        font-size: 4rem;
    }
    &__description{
        text-align: center;
        color: #FFF;
        padding-bottom: 3rem;
    }
    &__features-grid{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
/*        font-size: 3rem;*/
        text-align: center;
        grid-gap: 2rem;
    }
    &__features-grid__i{
        font-size: 3.5rem;
        color: #FFF;
        p{
            font-size: 1rem;
        }
        

    }
    .fa-bolt{
        color: #FF9800;
    }
    
    .fa-heart{
        color: #F44336;
    }
    
    .fa-camera{
        color: #D2BE0E;
    }
    
    .fa-battery-full{
        color: #4CAF50;
    }
    
    .fa-diamond{
        color: #FFF
    }
    
    .fa-cloud{
        color: #2196F3;
    }
    
    .fa-globe{
        color: #FFC107;
    }
    
    .fa-hdd-o{
        color: #05B8CF;
    }
    
    .fa-user{
        color: #FDF5E6;
    }
    
    .fa-shield{
        color: #FF9800;
    }
    
    .fa-wifi{
        color: #757575;
    }
    
    .fa-image{
        color: #E91E63;
    }
}