.image2{
    display: none;
    position: relative;
    &__download-app{
        background-color: #000;
        color: #FFF;
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        opacity: 0.5;
        margin-left: 2rem;
        text-align: center;
        border-radius: 0.5rem;
        width: 25rem;
        padding: 2rem 1.5rem;
    }
    &__heading{
        margin: 0;
        font-size: 1.5rem;
        font-weight: 300;
        color: #3f51b5;
        opacity: 70%;
        padding-bottom: 1.5rem;
        border-bottom: solid 1px #fff;
    }
    
    &__download-app:hover{
        opacity:1;
    }
    &__description{
        
        padding: 1.5rem 0;
    }
    &__tour{
        position: absolute;
        top: 50%;
        transform: translateY(-90%);
        right: 2rem;
        text-align: center;
    }
}

